{% load staticfiles %}

<html>
	<head>
		<title>Your Wardrobe - Modifit</title>
		<link rel="stylesheet" type="text/css" href="{% static 'modifit/global.css' %}" />
	</head>
	<body>
		<h1>{{ name }}'s Wardrobe</h1>

		<div id="new_set">
			<table>
				<tr>
					{% for i in items %}
						<td>
							<div class="item_name">{{ i.name }}</div>
							<img src='{{ i.image.url }}' class="item_image" />
						</td>
					{% endfor %}
				</tr>
			</table>
		</div>

		<form action="/logout/" method="post">
			{% csrf_token %}
			<input type="submit" value="Logout" />
		</form>
	</body>
</html>